    html,body {
        margin: 0;
        padding: 0;

    }

    body {
        background-color: rgb(186, 186, 186);
        overflow-x: hidden;
        font-family: 'Montserrat',sans-serif;
    }

/* navbar */
    nav {
        padding-top: 10px;
    }

    .header {
        display: flex;
        justify-content: space-around;
    }

    nav ul{
        display: flex;
        list-style: none;
        width: 20%;
        justify-content: space-between;
        padding-top: 10px;
    }

    .header ul li a {
        text-decoration: none;
        color: white;
    }

    .header h2 {
        color: white;
        font-family: 'pacifico', cursive;
    }

    .header ul li a:hover {

        color: red;
    }

/* akhir Navbar */

/* Hamburger Menu */
    .menu-toggel {
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
        padding-top: 20px;
    }

    .menu-toggel input {
        position: absolute;
        width: 40px;
        height: 28px;
        left: -6px;
        top: -4px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    .menu-toggel span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.5s;
    }
/* akhir hamburger menu */

/* Hamburger Menu Animation */
    .menu-toggel span:nth-child(2) {
        transform-origin: 0 0;

    }

    .menu-toggel span:nth-child(4) {
        transform-origin: 0 100%;

    }

    .menu-toggel input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(-1px , -1px);
        background-color: white;
    }

    .menu-toggel input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(-1px , 0);
        background-color: white;
    }

    .menu-toggel input:checked ~ span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }
/* akhir hamburger menu animation */


/* jumbotron */
    .jumbotron {
        background-image:url(../assets/img/banner.jpg);
        background-size: cover;
        background-position: 0 -180px;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .jumbotron h1{
        text-align: center;
        color: white;
        font-size: 80px;
        padding-bottom: 120px;
        font-family: 'pacifico', cursive;
    }

    .gambar img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        padding-top: 100px;
    }

    .gambar img:hover {
        width: 25%;
        cursor: pointer;
        transition: 3s;
    }

/* akhir jumbotron */


/* content */
    #content {
        background-color: white;
        margin-left: 20px;
        width: 60%;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 2px black;
        float: left;    
    }

    .section {
        padding-left: 30px;
        padding-right: 30px;

    }

    .section h1 {
        padding-top: 10px;
    }

    .section p {
        font-size: 20px;
    } 

/* akhir content */


/* sidebar */
    .sidebar {
        width: 30%;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 2px black;
        margin-right: 20px;
        float: right;
        background-color: white;
        box-sizing: border-box;
    }

    .sidebar aside {
        border: 3px solid black;
        margin: 20px;
        border-radius: 10px;
        padding-bottom: 20px;
        box-sizing: border-box;
        padding-left: 20px;
    }

    .pelatih h3 {
        text-align: center;
        font-family: 'Tiro Gurmukhi', serif;
    }

    .pelatih h1 {
        font-family: 'pacifico', cursive;
    }

    .pelatih img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px rgb(6, 6, 6);
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }

    .pelatih img:hover {
        box-shadow: 0 0 15px 2px rgb(243, 7, 7,.6);
        cursor: pointer;

    }
/* akhir sidebar */


/* official */
    .container-of {
        background-color: white;
        width:65% ;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 2px black;
        padding-bottom: 20px;
        margin-top: 150px;
    }

    .container-of h1 {
        text-align: center;
        padding-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .struktur {
        display: flex;
        flex-wrap: wrap;
    }

    .nama {

        height: 300px;
        width: 200px;
        background-color: black;
        margin: 20px auto;
        border-radius: 10px;
    }

    .nama img {

        width: 200px;
        height: 200px;
        background-color: black;
        cursor: pointer;
        border-radius: 10px;
        position: relative;
    
    } 

    .nama h4, .nama p {
        color: white;
        text-align: center;
    }

    .nama img:hover {

        box-shadow: 0 0 15px 2px rgb(243, 7, 7,.6);
        height: 320px;
        transition: 3s;
    }

/* akhir official */

/* awal footer */
    footer{
        text-align: center;
        color: white;
        font-size: 20px;
        background-color: black;
        height: 80px;
        padding-top: 10px;
        margin-top: 200px;
        cursor: pointer;
    }
/* akhir footer */


/* media query */
@media screen and (max-width: 768px) {

/* awal navbar */
    .menu-toggel {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 80vh;
        flex-direction: column;
        background-color: black;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        width: 30%;
        padding-bottom: 150px;
        padding-top: 50px;
        margin-top: 70px;

    }

    nav ul.slide {
        opacity: 1;
        transform:  translateX(0);
    }

    /* akhir navbar */


    /* awal jumbotron */
    .jumbotron {
        background-size: cover;
    }
    .jumbotron .gambar h1 {
        padding-top: 30px;
        font-size: 40px;
    }
    .gambar img {
        width: 200px;
    }
    .gambar img:hover {
        width: 230px;
    }
/* akhir jumbotron */


/* awal content */
    #content {
        background-color: white;
        margin-left: 20px;
        width: 60%;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 2px black;
        float: left;
            
    }
    .section {
        padding-left: 30px;
        padding-right: 30px;    
    }
    .section h1 {
        padding-top: 10px;
    }
    .section p {
        font-size: 20px;
    } 
    
/* akhir content */


/* awal official */
    .container-of {
        width:450px ;
    }
/* akhir official */


/* awal footer */
    footer h4{
        font-size: 15px; 
    }
/* akhir footer */


/* awal sidebar */
    .sidebar {
        width: 30%;
        border-radius: 5px;
        box-shadow: 1px 2px 5px 2px black;
        margin-right: 20px;
        float: right;
        background-color: white;
        box-sizing: border-box;
    }
    .sidebar aside {
        border: 3px;
        margin: 20px;
        border-radius: 10px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .pelatih h1 {
        font-size: 17px;
    }
    .pelatih h3 {
        font-size: 15px;
    }
    .pelatih p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .sidebar aside .pelatih img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px rgb(255, 0, 0);
        margin-bottom: 15px;

    }
    .pelatih img:hover {
        box-shadow: 0 0 3px 3px rgba(0,0,0.4);
        cursor: pointer;   
    }
/* akhir sidebar */

}




@media screen and (max-width: 1200px) {

/* awal navbar */
    nav ul{
        display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-between;
        padding-top: 10px;
    }
/* akhir navbar */

/* awal jumbotron */
    .jumbotron h1 {
        padding-top: 10px;
        font-size: 60px;
    }
    .gambar img {
        width: 200px;
    }
    .gambar img:hover {
        width: 230px;
    }
/* akhir jumbotron */

/* awal sidebar*/
    .pelatih h3 {
        text-align: center;
        font-family: 'Tiro Gurmukhi', serif;
    }

    .pelatih h1 {
        font-family: 'pacifico', cursive;
    }

    .pelatih img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 0 2px rgb(255, 0, 0);
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pelatih img:hover {
        box-shadow: 0 0 3px 3px rgba(0,0,0.4);
        cursor: pointer;

    }
/* akhir sidebar */
}




/* untuk memberhentikan float */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}




